@import "_form/_field";

.form-fieldset {
  @include indent-not-last-child("bottom", $indent_xxxxxl);

  &.--bright {
    padding: $indent_xxl $indent_m;
    border-radius: $border-radius;
    border: $border-grey-light;
  }
}

.form-field {
  &.--input-with-label {
    label {
      @extend %text-style_S6;
      display: block;
      margin-bottom: $indent_xxs;
    }
  }
}

.form-element {
  [type="number"] {
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.form {
  display: flex;

  .form-fieldset-list {
    @include indent-not-last-child("bottom", $indent_xxl);

    display: flex;
    flex-wrap: wrap;
    gap: $indent_s;

    @media #{$laptop-avg-and-up} {
      gap: $indent_m;
    }

    .form-field {
      width: 100%;
    }

    &.--columns {
      $list-gap: $indent_xxxl;

      @media #{$laptop-avg-and-up} {
        gap: $list-gap;
      }

      .form-field {
        @media #{$laptop-avg-and-up} {
          width: calc(50% - #{$list-gap / 2});
        }

        &.--w-100 {
          @media #{$laptop-avg-and-up} {
            width: 100%;
          }
        }
      }
    }

    .--confirmation {
      margin-top: 24px;

      @media #{$tablet-below-avg} {
        width: 100%;
      }
    }
  }

  .title {
    margin-bottom: $indent_xxxl;

    legend {
      @extend %text-style_S3;
      text-indent: -2px; // Reduces extra indentation on the left

      & + .description {
        margin-top: $indent_xxs;
      }
    }

    .description {
      color: $text-additional;

      display: flex;
      justify-content: space-between;

      p {
        @extend %text-style_Caption;
      }
    }
  }

  &.--checkout {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: $indent_s;

      @media #{$tablet-avg-and-up} {
        flex-wrap: nowrap;
      }

      @media #{$laptop-avg-and-up} {
        gap: $indent_xxxl;
      }

      .col {
        display: flex;
        flex-direction: column;

        &.--col-left {
          order: 1;
          width: 100%;

          @media #{$tablet-avg-and-up} {
            order: 0;
            width: 50%;
          }

          @media #{$laptop-avg-and-up} {
            width: 58.33333333%;
          }
        }

        &.--col-right {
          margin-bottom: $indent_xl;
          order: 0;
          width: 100%;

          @media #{$tablet-avg-and-up} {
            margin-bottom: 0;
            order: 1;
            width: 50%;
          }

          @media #{$laptop-avg-and-up} {
            width: 41.66666667%;
          }
        }
      }
    }
  }
}
