.huge-menu {
  position: relative;

  @media #{$tablet-avg-and-up} {
    background: #f9f9f9;
  }

  .huge-menu--action {
    @media #{$tablet-avg-and-up} {
      display: none;
    }
  }

  .huge-menu--list {
    @media #{$tablet-below-avg} {
      display: none;
    }

    @media #{$tablet-avg-and-up} {
      display: flex;
    }

    &.--showed {
      display: flex;

      @media #{$tablet-below-avg} {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index_modal;

        .huge-menu--container {
          overflow: hidden;
          flex-direction: column;
          background: $white;

          .huge-menu--title {
            display: flex;
            align-items: center;
            padding: 0 $indent_m;

            h2 {
              flex-grow: 1;
            }

            .btn.--l {
              &.--right {
                padding-bottom: $indent_s;
                padding-right: 0;

                .icon {
                  margin-left: $indent_xxs;
                }
              }

              .value {
                font-family: $f-regular;
                font-weight: $f-weight_normal;
                font-size: $f-size_s;
                color: $grey-lightest;
              }

              &:hover {
                background: transparent;
              }
            }
          }
        }

        .huge-menu--content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 100%;
          padding: $indent_xs 0;
          overflow-x: hidden;
          overflow-y: auto;
          border-top: 1px solid $grey-light;

          .btn.--with-icon {
            border-radius: 0;
            background: $white;
          }

          .dropdown-menu {
            padding: 0 $indent_xs;
          }
        }
      }
    }
  }

  .huge-menu--container {
    display: flex;
    width: 100%;
  }

  .huge-menu--content {
    display: flex;

    @media #{$tablet-avg-and-up} {
      width: 100%;
      justify-content: space-between;
    }
  }

  .huge-menu--title {
    display: none;
  }

  .dropdown {
    position: relative;

    @media #{$tablet-avg-and-up} {
      @include indent-not-last-child("right", $indent_s);
    }

    .btn.--with-icon {
      padding-left: 0;
      padding-right: 0;

      .icon {
        margin-left: $indent_xxxs;

        svg {
          font-size: 16px;
        }
      }

      .value {
        font-weight: $f-weight_medium;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}
