.total {
  display: flex;
  flex-direction: column;
  width: 100%;

  .total-i {
    @extend %text-style_S6;
    @include indent-not-last-child("bottom", $indent_s);

    display: flex;

    .name {
      flex-grow: 1;

      b {
      }

      .extra {
        @extend %text-style_Caption;
        margin-bottom: $indent_xs;
        font-weight: $f-weight_medium;
        color: $primary;
      }
    }

    .val {
      font-weight: $f-weight_medium;
    }

    &.--form-field {
      margin: $indent_s 0 $indent_xl;
    }

    &.--total {
      align-items: center;
      flex-wrap: wrap;

      .val {
        @extend %text-style_S2;
        line-height: 1;
        color: $primary;
      }
    }
  }
}
