// Media Queries

$mobile-xsmall: 'screen and (max-width: 360px)';

$mobile-avg-and-up: 'screen and (min-width: 400px)';
$mobile-below-avg: 'screen and (max-width: 399px)';

$phablet-avg-and-up: 'screen and (min-width: 576px)';
$phablet-below-avg: 'screen and (max-width: 575px)';
$phablet: 'screen and (min-width: 576px) and (max-width: 767px)';

$tablet-avg-and-up: 'screen and (min-width: 768px)';
$tablet-below-avg: 'screen and (max-width: 767px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 959px)';

$laptop-avg-and-up: 'screen and (min-width: 960px)';
$laptop-below-avg: 'screen and (max-width: 959px)';
$laptop: 'screen and (min-width: 960px) and (max-width: 1199px)';

$desktop-avg-and-up: 'screen and (min-width: 1200px)';
$desktop-below-avg: 'screen and (max-width: 1199px)';
