// Icons
$icon-size_xxs: 12px;
$icon-size_xs: 14px;
$icon-size_s: 16px;
$icon-size_m: 20px;
$icon-size_l: 24px;
$icon-size_xl: 32px;
$icon-size_xxl: 36px;

// Icons in fea
$icon-size--wide_m: 28px;
$icon-size--wide_xl: 40px;

// Only for .fa.fa-chevron icons
$icon-size--arrows: 20px;


// Buttons
$button-size_xs: 36px;
$button-size_s: 40px;
$button-size_m: 48px;
$button-size_l: 56px;

