@import "_smart-grid/_index";

@import "vars";
@import "libs";
@import "placeholders";
@import "mixins";
@import "_animations.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder {
    color: #000;
}

@include reset;

::selection {  
	background-color: $accent;
	color: $white;
}

html, body{
	height: 100%;
}
	
body {
  @extend %text-style_Body;

	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	font-family: $f-regular;
}

.main {
	width: 100%;
	overflow: hidden;
}

.wrapper {
  @include wrapper;
}

.wrapper-full {
  @include wrapper-full;
}

a {
  text-decoration: none;
  color: $text-link;
}

button, input {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font: 400 16px $f-regular;
  padding: 0;
}

input {
  // hide basic styles for input in iOS
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // hide cross icon in Edge
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  // hide box-shadow of empty required input in FF
  &:required:invalid {
    box-shadow: none;
  }
}

strong {
  font-family: $f-dense;
}

.hidden {
  display: none;
}
