<fieldset class="form-fieldset">
  <partial src="components/forms/legends/formfield-title.html" text-title="Confirmation" text-description="We are getting to the end. Just few clicks and your order si ready!" text-extra="Step 5 of 5"></partial>

  <div class="form-fieldset-list">

    <div class="form-field">
      <partial src="elements/inputs/input--checkbox.html" id-label="newsletterEmails" type-input="checkbox" name-input="newsletterEmails" size-input="--m" style-input="--bright" id-input="newsletterEmails" value-input="I agree with sending an Marketing and newsletter emails. No spam, promissed!" styles-icon="" src-icon="img/icons.svg#ic-actions-check-simple"></partial>
    </div>

    <div class="form-field">
      <partial src="elements/inputs/input--checkbox--with-links.html" id-label="termsAndPrivacy" type-input="checkbox" name-input="termsAndPrivacy" size-input="--m" style-input="--bright" id-input="termsAndPrivacy" styles-icon="" src-icon="img/icons.svg#ic-actions-check-simple"></partial>
    </div>

    <partial src="elements/buttons/button--text-only.html" styles-btn="--responsive --colored" value-btn="Complete order"></partial>
  </div>

</fieldset>
