<fieldset class="form-fieldset --bright">
  <partial src="components/forms/legends/formfield-title.html" text-title="Order Summary" text-description="Price can change depending on shipping method and taxes of your state." text-extra="  "></partial>

  <div class="form-fieldset-list">

    <div class="total">
      <div class="total-i --subtotal">
        <div class="name">
          <b>Subtotal</b>
        </div>
        <div class="val">73.98 USD</div>
      </div>
      <div class="total-i --tax">
        <div class="name">
          <b>Tax</b>
        </div>
        <div class="val">17% 16.53 USD</div>
      </div>
      <div class="total-i --shipping">
        <div class="name">
          <b>Shipping</b>
        </div>
        <div class="val">0 USD</div>
      </div>
    </div>

    <partial src="elements/inputs/input--with-button--button-text.html" type-input="text" size-input="--m --rtl --w-100" style-input="--bright" id-input="promoCode" styles-btn="--m --right --brightest" placeholder-input="Apply promo code" value-btn="Apply now"></partial>


    <div class="total">
      <div class="total-i --total">
        <div class="name">
          <b>Total Order</b>
          <div class="extra">Guaranteed delivery day:  June 12, 2020</div>
        </div>
        <div class="val">89.84 USD</div>
      </div>
    </div>

  </div>

</fieldset>
