<fieldset class="form-fieldset">
  <partial src="components/forms/legends/formfield-title.html" text-title="Payment method" text-description="Please enter your payment method" text-extra="Step 3 of 5"></partial>

  <!-- <div class="row">
    <div class="col --col-6"></div>
    <div class="col --col-6"></div>
  </div> -->

  <div class="form-fieldset-list">
    <partial src="components/forms/fields/field--label-with-input--only.html" type-input="text" id-label="nameFirst" id-input="nameFirst" value-label="First name" value-input="First name"></partial>
    <partial src="components/forms/fields/field--label-with-input--only.html" type-input="text" id-label="nameLast" id-input="nameLast" value-label="Last name" value-input="Last name"></partial>
  </div>

</fieldset>
