<div class="dropdown @@styles-dropdown">
  <input name="@@id-input" value="@@value-input" type="text" hidden>
  <partial src="elements/buttons/button--text-with-icon.html" id-dropdown="@@id-dropdown" action-btn="dropdown-select" styles-btn="dropdown-toggle --m --with-icon --right --brightest" value-btn="@@value-btn" styles-icon="--primary" src-icon="img/icons.svg#ic-chevron-down"></partial>
  <partial src="components/dropdowns/simple/all-categories.html" behaviour-dropdown="--dropdown-select" active-el-dropdown="--active"></partial>
</div>
