<form action="" class="search-form">
  <fieldset class="search-dropdown">
    <div class="dropdown">
      <input name="searchCategory" value="All categories" type="text" hidden>

      <button class="dropdown-toggle" type="button" id="searchCategory">
        <span class="label">All categories</span>
        <span class="caret material-icons">keyboard_arrow_down</span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="searchCategory">
        <li class="active">All categories</li>
        <li>Bakery</li>
        <li>Fruit and vegetables</li>
        <li>Meat and fish</li>
        <li>Drinks</li>
        <li>Kitchen</li>
        <li>Special nutrition</li>
        <li>Baby</li>
        <li>Pharmacy</li>
      </ul>
    </div>
  </fieldset>

  <fieldset class="search-field">
    <input name="searchQuery" type="text" />
    <button type="submit"></button>
  </fieldset>
</form>
