<div class="huge-menu">
  <div class="container">

    <div class="huge-menu--action">
      <partial src="elements/buttons/button--text-with-icon.html" action-btn="huge-menu--open" id-dropdown="hugeMenu" styles-btn="--m --with-icon --left --colored" value-btn="Category menu" src-icon="img/icons.svg#ic-actions-more-1"></partial>
    </div>

    <div class="huge-menu--list">
      <div class="huge-menu--container">
        <div class="huge-menu--content">
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownBakery" value-btn="Bakery"></partial>
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownFruitAndVegetables" value-btn="Fruit and vegetables"></partial>
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownMeatAndFish" value-btn="Meat and fish"></partial>
  
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownDrinks" value-btn="Drinks"></partial>
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownKitchen" value-btn="Kitchen"></partial>
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownSpecialNutrition" value-btn="Special nutrition"></partial>
  
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownBaby" value-btn="Baby"></partial>
          <partial src="components/dropdowns/dropdown--simple--only.html" styles-dropdown="--mobile-collapse" id-dropdown="dropdownPharmacy" value-btn="Pharmacy"></partial>
        </div>

        <partial src="elements/buttons/button--text-with-icon.html" action-btn="huge-menu--close" id-dropdown="hugeMenu" styles-btn="--l --with-icon --right --bright --w-100 --hugeMenuClose" value-btn="Close" src-icon="img/icons.svg#ic-actions-close-simple"></partial>
      </div>
    </div>
  </div>
</div>
