<div class="modal" data-modal="profile">
  <div class="modal-container">

    <div class="modal-header">
      <h2>Join our list</h2>
      <partial src="elements/buttons/button--text-with-icon.html" action-btn="modal--close" id-dropdown="modalCart" styles-btn="--l --with-icon --right --simple --menuClose" value-btn="Close" src-icon="img/icons.svg#ic-actions-close-simple"></partial>
    </div>

    <div class="modal-content">
      <p class="--with-separator">Signup to be the first to hear about exclusive deals, special offers, recepies from our masters and others.</p>

      <ul class="list --benefits">
        <li>Exclusive deals</li>
        <li>Tips and tricks</li>
        <li>Special offers</li>
        <li>Farmers stories</li>
        <li>Premium recepies</li>
      </ul>

      <partial src="elements/inputs/input--with-button--button-text.html" type-input="text" size-input="--m --rtl --w-100" style-input="--bright" id-input="promoCode" styles-btn="--m --right --brightest" placeholder-input="Your email address" value-btn="Subscribe"></partial>

    </div>

  </div>
</div>
