<fieldset class="form-fieldset">
  <partial src="elements/fields/field--label-with-input--only.html" input-type="text" id-label="nameFirst" id-input="nameFirst" value-label="First name" value-input="First name"></partial>
  <partial src="elements/fields/field--label-with-input--only.html" input-type="text" id-label="nameLast" id-input="nameLast" value-label="Last name" value-input="Last name"></partial>
  <partial src="elements/fields/field--label-with-input--only.html" input-type="email" id-label="emailAddress" id-input="emailAddress" value-label="Email address" value-input="Email address"></partial>
  <partial src="elements/fields/field--label-with-input--only.html" input-type="tel" id-label="phoneNumber" id-input="phoneNumber" value-label="Phone number" value-input="Phone number"></partial>
  <partial src="elements/fields/field--label-with-input--only.html" input-type="text" id-label="address" id-input="address" value-label="Address" value-input="Address"></partial>
  <partial src="elements/fields/field--label-with-input--only.html" input-type="text" id-label="townCity" id-input="townCity" value-label="Town / City" value-input="Town or City"></partial>
</fieldset>
