// Base palette 
$white: $C1-J;

$grey: $C1-A;
$grey-bright: $C1-F;
$grey-brightest: $C1-H;
$grey-light: $C1-D;
$grey-lightest: $C1-C;
$grey-almost-white: $C1-K;

$primary: $C2-A;
$primary-dark: $C2-B;
$primary-light: $C2-C;

// Text
$text-base: $grey;
$text-additional: $grey-lightest;
$text-link: $primary;

$input-placeholder: $grey-lightest;
