<div class="field --grouped-field --bright @@styles-fieldset">
  <partial src="components/dropdowns/dropdown--simple--form.html" styles-dropdown="--simple" id-input="allCategories" value-input="All Categories" id-dropdown="allCategories" value-btn="All Categories"></partial>
  <partial src="elements/inputs/input--with-button--button.html" type-input="@@type-input" size-input="@@size-input" style-input="@@style-input" id-input="@@id-input" styles-btn="@@styles-btn" src-icon="@@src-icon" placeholder-input="@@placeholder-input"></partial>
</div>
