.actions {
  display: flex;

  .btn {
    @include indent-not-last-child("right", $indent_xl);

    &.--profile,
    &.--cart {
      padding-left: 0;
      padding-right: 0;

      &:hover {
        background: transparent;
      }
    }
  }
}
