.header-content {
  @import "_actions";

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: $indent_s;

  @media #{$tablet-avg-and-up} {
    gap: 20px;
    flex-wrap: nowrap;
    padding: $indent_xl 0;
  }

  @media #{$desktop-avg-and-up} {
    flex-wrap: nowrap;
    padding: $indent_xxxl 0;
  }

  .logo {
    display: flex;
    order: 0;
    flex-shrink: 0;
  }

  .form {
    display: flex;
    width: 100%;
    margin-top: $indent_s;
    order: 2;
    flex-basis: auto;

    @media #{$tablet-avg-and-up} {
      margin-top: 0;
      flex-basis: 500px;
      order: 1;
    }

    .field {
      width: 100%;

      .dropdown + .form-element {
        flex-grow: 1;
      }
    }
  }

  .actions {
    order: 1;
    @media #{$tablet-avg-and-up} {
      order: 2;
    }
  }
}
