.subheader {
  border-bottom: $border-grey-lightest;
  padding: $indent_m 0;
  display: flex;
  justify-content: space-between;

  ul.contacts {
    display: flex;
    
    li {
      @include indent-not-last-child('right', $indent_s);

      @media #{$tablet-avg-and-up} {
        @include indent-not-last-child('right', $indent_xl);
      }

      @media #{$desktop-avg-and-up} {
        @include indent-not-last-child('right', $indent_xxxl);
      }

      a {
        .icon {
          svg {
            stroke: $primary;
          }
        }

      }
    }
  }

  nav.links {
    display: flex;
    justify-content: flex-end;

    a {
      @include indent-not-last-child('right', $indent_s);

      @media #{$tablet-avg-and-up} {
        @include indent-not-last-child('right', $indent_xl);
      }

      @media #{$desktop-avg-and-up} {
        @include indent-not-last-child('right', $indent_xxxl);
      }
    }
  }
}
