.subheader {
  @include row-flex;
  border-bottom: $border-grey-lightest;
  padding: $indent_m 0;

  .col {
    @include col;
    @include size(6);
    @include size-bp_768(6);

    display: flex;
  }

  ul.contacts {
    li {
      @include indent-not-last-child('right', $indent_xxxl);

      a {

      }
    }
  }

  nav.links {
    justify-content: flex-end;

    a {
      @include indent-not-last-child('right', $indent_xxxl);
    }
  }
}
