.subheader {
  @include row-flex;
  border-bottom: $border-grey-lightest;
  padding: $indent_m 0;
  display: flex;
  justify-content: space-between;

  ul.contacts {
    display: flex;
    
    li {
      @include indent-not-last-child('right', $indent_xxxl);

      a {

      }
    }
  }

  nav.links {
    display: flex;
    justify-content: flex-end;

    a {
      @include indent-not-last-child('right', $indent_xxxl);
    }
  }
}
