.btn {
  $btn: &;
  $btn-min-size: $icon-size_l;

  @import "_button/_styles";
  @import "_button/_sizes";

  position: relative;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  border-radius: $border-radius;
  margin: 0;

  .content {
    display: flex;
    align-items: center;
    min-height: $btn-min-size;
    min-width: $btn-min-size;
  }

  .value {
    @extend %text-style_Button;
  }

  &.--with-icon {
    &.--only {
      .content {
        justify-content: center;
      }
    }

    &.--right {
      .icon {
        order: 1;
      }
    }
  }

  &.--inline {
    display: inline-flex;
    width: auto;
  }
}
