.checkbox {
  @import "_checkboxes-radios/_sizes";
  @import "_checkboxes-radios/_styles";

  display: inline-flex;
  width: 100%;

  @media #{$tablet-avg-and-up} {
    width: auto;
    align-items: flex-start;
  }

  label {
    @extend %text-style_Body;
    display: flex;
    cursor: pointer;

    .icon {
      border: $border-size_thick solid $grey-light;
      border-radius: $border-radius_xsmall;
      display: inline-flex;
      min-width: $icon-size_l;
      width: $icon-size_l;
      height: $icon-size_l;
      margin-right: $indent_xs;
      background-color: $white;

      svg {
        opacity: 0;
        stroke: $white;
        stroke-width: 4px;
      }
    }

    .content {
      display: inline-block;
      min-height: $icon-size_l;
      line-height: $icon-size_l;

      a {
        @extend %link_underline;

        color: inherit;
        padding: 0 $indent_xxs;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:disabled + label {
      .icon {
        border-color: $grey-light;
      }
    }

    &:checked {
      & + label {
        .icon {
          background-color: $primary;
          border-color: $primary-dark;

          svg {
            opacity: 1;
            stroke: $white;
          }
        }
      }

      &:disabled + label {
        .icon {
          background-color: lighten($primary, 50%);
          border-color: $primary-light;
        }
      }
    }
  }
}
