.input {
  @import "_input/_sizes";
  @import "_input/_styles";

  display: flex;
  align-items: flex-start;

  label {
    @extend %text-style_S6;

    width: 100%;
    margin-bottom: $indent_xxxs;
    text-align: left;
  }

  textarea,
  input {
    @extend %text-style_Body;

    position: relative;
    width: 100%;
    line-height: 24px;

    &::placeholder {
      color: $input-placeholder;
    }
  }

  textarea {
    resize: none;
  }

  &.--checkbox {
    label {
      @extend %text-style_Body;
    }
  }

  &.--with-button {
    $button-offset: $indent_xxs;

    position: relative;

    &.--rtl {
      padding-right: $button-offset;
    }

    &.--ltr {
      padding-left: $button-offset;
    }

    .btn {
      border-radius: $border-radius_medium;

      .value {
        white-space: nowrap;
      }
    }
  }

  &.--with-icon {
    position: relative;

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      svg {
        stroke: $grey;
        stroke-width: 3px;
      }
    }
  }
}
