<div class="subheader">
  <ul class="contacts">
    <li>
      <partial src="elements/links/link--with-icon.html" styles-link="" href-link=" # " style-text-link="" text-link="Chat with us" styles-icon="" src-icon="img/icons.svg#ic-contact-chat"></partial>
    </li>
    <li>
      <partial src="elements/links/link--with-icon.html" styles-link="" href-link="tel:+420336775664" style-text-link="c--base" text-link="+420 336 775 664" styles-icon="--flip-horizontal" src-icon="img/icons.svg#ic-contact-phone"></partial>
    </li>
    <li>
      <partial src="elements/links/link--with-icon.html" styles-link="" href-link="mailto:info@freshnesecom.com" style-text-link="c--base" text-link="info@freshnesecom.com" styles-icon="" src-icon="img/icons.svg#ic-contact-mail"></partial>
    </li>
  </ul>

  <nav class="links">
    <a href="">Blog</a>
    <a href="">About Us</a>
    <a href="">Careers</a>
  </nav>
</div>
