&.--search-field {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .form-element {
    input {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .dropdown {
    @include separator(20px, $grey-light);

    .dropdown-toggle {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      // padding: $indent_xs $indent_m;

      @media #{$tablet-avg-and-up} {
        // padding: $indent_s $indent_xl;
      }

      @media #{$desktop-avg-and-up} {
        // padding: $indent_m $indent_xxxxl;
        padding-right: $indent_m;
        padding-left: $indent_xl;
      }
    }
  }

  .dropdown + .form-element {
    flex-grow: 1;

    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
