&.--bright {
  @include create-fake-border($border-grey-light, $border-radius);

  border-radius: $border-radius;
  background-color: $grey-brightest;

  input {
    border-radius: $border-radius;
    background-color: $grey-brightest;
    border: none;
    box-shadow: none;
  }
}
