&.--responsive {
  textarea,
  input {
    padding: $indent_xs $indent_m;

    @media #{$tablet-avg-and-up} {
      padding: $indent_s $indent_l;
    }

    @media #{$desktop-avg-and-up} {
      padding: $indent_m $indent_xl;
    }
  }

  &.--with-button {
    input {
      padding-right: 0;

      &:focus {
        box-shadow: none;
      }
    }

    .btn {
      align-self: center;
      padding: $indent_xxs $indent_xs;

      @media #{$tablet-avg-and-up} {
        padding: $indent_xs;
      }

      @media #{$desktop-avg-and-up} {
        padding: $indent_s;
      }

      &.--right {
        padding-left: $indent_xs;

        @media #{$tablet-avg-and-up} {
          padding-left: $indent_s;
        }

        @media #{$desktop-avg-and-up} {
          padding-left: $indent_m;
        }

        .icon {
          margin-left: $indent_xxs;

          @media #{$tablet-avg-and-up} {
            margin-left: $indent_xs;
          }

          @media #{$desktop-avg-and-up} {
            margin-left: $indent_xs;
          }
        }
      }

      &.--left {
        .icon {
          margin-right: $indent_xxs;

          @media #{$tablet-avg-and-up} {
            margin-right: $indent_xs;
          }

          @media #{$desktop-avg-and-up} {
            margin-right: $indent_xs;
          }
        }
      }

      .icon {
        svg {
          font-size: $icon-size_m;

          @media #{$tablet-avg-and-up} {
            font-size: $icon-size_l;
          }
        }
      }
    }
  }

  &.--with-icon {
    @include input-nested-element--offset--responsive("icon", "right");

    .icon {
      svg {
        stroke-width: 3px;

        font-size: $icon-size_s;

        @media #{$tablet-avg-and-up} {
          font-size: $icon-size_m;
        }

        @media #{$desktop-avg-and-up} {
          font-size: $icon-size_l;
        }
      }
    }
  }
}

&.--xs {
  textarea,
  input {
    padding: $indent_xxs $indent_s;
    font-size: $f-size_base;
  }

  &.--with-button {
    input {
      padding-right: 0;
    }

    .btn {
      padding: $indent_xxxs $indent_xxs;
    }
  }

  &.--with-button,
  &.--with-icon {
    .btn {
      align-self: center;
    }

    .icon {
      svg {
        font-size: $icon-size_s;
      }
    }
  }

  &.--with-icon {
    @include input-nested-element--offset--non-responsive("mobile", "icon", "right");
  }
}

&.--s {
  textarea,
  input {
    padding: $indent_xs $indent_m;
    font-size: $f-size_base;
  }

  &.--with-button {
    input {
      padding-right: 0;
    }
    .btn {
      padding: $indent_xxs $indent_xs;
    }
  }

  &.--with-button,
  &.--with-icon {
    .btn {
      align-self: center;
    }

    .icon {
      svg {
        font-size: $icon-size_s;
      }
    }
  }

  &.--with-icon {
    @include input-nested-element--offset--non-responsive("mobile", "icon", "right");
  }
}

&.--m {
  textarea,
  input {
    padding: $indent_s $indent_l;
  }

  &.--with-button {
    input {
      padding-right: 0;
    }

    .btn {
      padding: $indent_xs $indent_s;
    }
  }

  &.--with-button,
  &.--with-icon {
    .btn {
      align-self: center;
    }

    .icon {
      svg {
        font-size: $icon-size_m;
      }
    }
  }

  &.--with-icon {
    @include input-nested-element--offset--non-responsive("tablet", "icon", "right");
  }
}

&.--l {
  textarea,
  input {
    padding: $indent_m $indent_xl;
  }

  &.--with-button {
    input {
      padding-right: 0;
    }

    .btn {
      padding: $indent_s $indent_m;
    }
  }

  &.--with-button,
  &.--with-icon {
    .btn {
      align-self: center;
    }

    .icon {
      svg {
        font-size: $icon-size_l;
      }
    }
  }

  &.--with-icon {
    @include input-nested-element--offset--non-responsive("desktop", "icon", "right");
  }
}
